In [ ]:
import sys
import json
import requests
import time
import urllib
import os.path
import os
import threading
import pandas as pd
import numpy as np
from random import randint
import subprocess
from urllib.request import urlretrieve
import re
TOKEN = "720923260:AAHHL8m8MgJ2tUKbFdPNd6j2JG2pCpj8fwA"
URL = "https://api.telegram.org/bot{}/".format(TOKEN)
class RecommenderBot():
    def get_url(self, url):
        response = requests.get(url)
        content = response.content.decode("utf8")
        return content

    def get_json_from_url(self, url):
        content = self.get_url(url)
        js = json.loads(content)
        return js

    def get_updates(self,offset=None):
        url = URL + "getUpdates?timeout=100"
        if offset:
            url += "&offset={}".format(offset)
        js = self.get_json_from_url(url)
        return js

    def get_last_update_id(self, updates):
        update_ids = []
        for update in updates["result"]:
            update_ids.append(int(update["update_id"]))
        return max(update_ids)
    
    def handle_updates(self, updates):
        for update in updates["result"]:
#             print(update["message"])
            text = ""
            if 'text' in update["message"]:
                text = update["message"]["text"]
            elif 'document' in update["message"]:
                if "image" in update['message']['document']['mime_type']:
#                     print(update['message']['document']['file_id'])
                    path = bot.getFile(update['message']['document']['file_id'])
#                     print(path['file_path'])
                    url = path['file_path']
                    urlretrieve(url,os.path.abspath(str(update['message']['document']['file_name'])))
                else:
                    text = "error"
            else:
                text = "error"
            chat = update["message"]["chat"]["id"]
            name = update["message"]["chat"]["first_name"]
            data = {}
            old_message = {}
            tick = [0]
            list_books = []
            if os.path.isfile('data.json'):
                with open('data.json', 'r') as fp:
                        data = json.load(fp)
                        if str(name) in data and data[str(name)]!=None:
                            list_books = data[str(name)]
            if os.path.isfile('Old_message.json'):
                with open('Old_message.json', 'r') as r:
                        old_message = json.load(r)
                        if str(name) in old_message:
                            tick = old_message[str(name)]
            if text == "/start":
                self.send_message("Hello {}! Here you can find a book that is similar to your favorite one. Please type '/' to see all available commands.".format(name), chat)
            elif text == '/cancel':
                old_message[str(name)] = [text]
                with open("Old_message.json", "w") as fm:
                    json.dump(old_message, fm)
                self.send_message('You cancelled an action',chat)
            elif text =="/recommend_me":
                old_message[str(name)] = [text]
#                 data[str(name)] = []
#                 with open('data.json', 'w') as fp:
#                     json.dump(data, fp)
                with open("Old_message.json", "w") as fm:
                    json.dump(old_message, fm)
                self.send_message("Please, type the name of the book that you have already read",chat)
            elif text !='' and tick[0]=="/recommend_me":
#                 old_message[str(name)] = [text]
                list_books.append(text)
#                 with open("Old_message.json", "w") as fm:
#                     json.dump(old_message, fm)
                if text in np.array(books['bookTitle']):
                    data[str(name)] = list_books
                    print(list_books)
                    with open('data.json', 'w') as fp:
                        json.dump(data, fp)
                    yeahh = final_c(text,pearson(text))
                    print(yeahh)
                    self.send_message('Probably this is the book that you want - {}'.format(yeahh),chat)
                else:
                    self.send_message('Type correctly the name of the book',chat)
            elif text == '/gift':
                old_message[str(name)] = [text]
                with open("Old_message.json", "w") as fm:
                    json.dump(old_message, fm)
                self.send_message('Perhaps the person, whom you want to present a book, has used our service. Please, enter his or her name',chat)
            elif text !='' and tick[0]=='/gift':
                if text in data.keys():
                    old_message[str(name)] = [text]
                    with open("Old_message.json", "w") as fm:
                        json.dump(old_message, fm)
                    self.send_message('Here is a list of books he/she read {}'.format(data[str(text)]),chat)
                else:
                    self.send_message('Unfortunately, we do not have such user:(',chat)
            else:
                self.send_message("Type '/' to view commands", chat) 
    
    def get_api(self, cnf):
        auth = tweepy.OAuthHandler(cnf['consumer_key'], cnf['consumer_secret'])
        auth.set_access_token(cnf['access_token'], cnf['access_token_secret'])
        return tweepy.API(auth)

    def get_last_chat_id_and_text(self, updates):
        num_updates = len(updates["result"])
        last_update = num_updates - 1
        text = updates["result"][last_update]["message"]["text"]
        chat_id = updates["result"][last_update]["message"]["chat"]["id"]
        return (text, chat_id)

    def send_message(self, text, chat_id, reply_markup=None):
        text = urllib.parse.quote_plus(text)
        url = URL + "sendMessage?text={}&chat_id={}&parse_mode=Markdown".format(text, chat_id)
        if reply_markup:
            url += "&reply_markup={}".format(reply_markup)
        self.get_url(url)

    def build_keyboard(self, items):
        keyboard = items#[[item] for item in items]
        reply_markup = {"keyboard":keyboard, "one_time_keyboard": True}
        return json.dumps(reply_markup)

    def main(self):
        last_update_id = None
        self.__init__()
        while True:
            updates = self.get_updates(last_update_id)
            if "result" in updates:
                if len(updates["result"]) > 0:
                    last_update_id = self.get_last_update_id(updates) + 1
                    self.handle_updates(updates)
                time.sleep(0.5)


if __name__ == '__main__':
        obj = RecommenderBot()
        obj.main()

['Timeline', 'Life of Pi']

C:\Users\migam\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2392: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\migam\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2326: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

0.984375
0.5952038527097449
0.6079949036470775
0.6600116429837792
0.7476214574898785
0.4904951885721117
0.44547619047619047
0.4754543990335675
My Sweet Audrina
['Timeline', 'Life of Pi', 'Timeline']
1.0
0.5296582330638058
0.4103535353535354
0.49630513277572097
0.5196474870159081
0.5894508220824011
0.5075445297985344
0.44263757062249454
0.4608428677159327
0.37179467088969353
Prodigal Summer

In [1]:
import pandas as pd
import numpy as np
# import all datasets

books = pd.read_csv('Final_books.csv', sep='\t', encoding='utf-8')
books = books[['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'Genre','Content','IMG_URL']]
users = pd.read_csv('Final_users.csv', sep='\t', encoding='utf-8')
users = users[['userID', 'Location', 'Age']]
ratings = pd.read_csv('Final_ratings.csv', sep='\t', encoding='utf-8')
ratings = ratings[['userID', 'ISBN', 'bookRating']]
books = books.dropna()
books = books.reset_index()
books = books[['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'Genre','Content','IMG_URL']]

In [ ]:
# u = users.loc[users['userID'] == userID[0]]
# for i in range(1,len(userID)):
#     u = u.append(users.loc[users['userID'] == userID[i]])

In [2]:
rating_count = pd.DataFrame(ratings.groupby('ISBN')['bookRating'].count())
rating_count.sort_values('bookRating', ascending=False).head(10)

            bookRating
ISBN
0804106304         519
0060930535         494
0743418174         470
0345370775         466
0440241073         456
1400034779         431
0786868716         427
0440234743         422
0345417623         407
0316769487         403

In [3]:
most_rated_books = pd.DataFrame(['0345417623', '1400034779', '0743418174', '0345370775', '0440241073'], index=np.arange(5), columns = ['ISBN'])
most_rated_books_summary = pd.merge(most_rated_books, books, on='ISBN')
most_rated_books_summary

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,Genre,Content,IMG_URL
0,0345417623,Timeline,MICHAEL CRICHTON,2000.0,Ballantine Books,Science Fiction Fiction Suspense,"In the middle of the New Mexico desert, a vac...",http://images.amazon.com/images/P/0345417623.0...
1,1400034779,Kerosene,Alexander McCall Smith,2003.0,Anchor,Novel,"Thirteen years after leaving the Philippines,...",http://images.amazon.com/images/P/1400034779.0...
2,0743418174,The Years of Rice and Salt,Jennifer Weiner,2002.0,Washington Square Press,Alternate history Science Fiction Speculative...,The novel is set in various locations around ...,http://images.amazon.com/images/P/0743418174.0...
3,0345370775,The Earth House,Michael Crichton,1999.0,Ballantine Books,Young adult literature,They hadn\'t pictured themselves as the sort ...,http://images.amazon.com/images/P/0345370775.0...
4,0440241073,Land of the Living,John Grisham,2002.0,Dell Publishing Company,Speculative fiction Fantasy,The book concerns the quest of Hallblithe of ...,http://images.amazon.com/images/P/0440241073.0...

In [4]:
average_rating = pd.DataFrame(ratings.groupby('ISBN')['bookRating'].mean())
average_rating['ratingCount'] = pd.DataFrame(ratings.groupby('ISBN')['bookRating'].count())
average_rating.sort_values('ratingCount', ascending=False).head()

            bookRating  ratingCount
ISBN
0804106304    3.063584          519
0060930535    3.609312          494
0743418174    4.040426          470
0345370775    3.369099          466
0440241073    3.195175          456

In [ ]:
# counts1 = ratings['userID'].value_counts()
# ratings = ratings[ratings['userID'].isin(counts1[counts1 >= 50].index)]
# counts = ratings['bookRating'].value_counts()
# ratings = ratings[ratings['bookRating'].isin(counts[counts >= 10].index)]

In [5]:
ratings_pivot = ratings.pivot(index='userID', columns='ISBN').bookRating
userID = ratings_pivot.index
ISBN = ratings_pivot.columns
print(ratings_pivot.shape)
ratings_pivot.head()

(20971, 3500)

ISBN,0002005395,0002179687,0002261529,0002713276,0006374964,0006479650,0006485936,0006548180,0006716067,0006749151,...,9502801954,9507682074,958949479X,9681902548,9721030791,9810023847,9810026595,9871106181,B00005NCS7,B00009ANY9
userID,,,,,,,,,,,,,,,,,,,,,
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
def pearson(sstring):
    index = 0
    for i in range(0,len(books['bookTitle'])):
        if sstring in books['bookTitle'][i]:
            index = i
            break
    bones_ratings = ratings_pivot[str(books['ISBN'][index])]
    similar_to_bones = ratings_pivot.corrwith(bones_ratings)
    corr_bones = pd.DataFrame(similar_to_bones, columns=['pearsonR'])
    corr_bones.dropna(inplace=True)
    corr_summary = corr_bones.join(average_rating['ratingCount'])
    c = corr_summary[corr_summary['ratingCount']>=100].sort_values('pearsonR', ascending=False).head(10)
    return c.index.values

In [ ]:
# pearson('The Neverending Story')
# final_c('',pearson(''))#this what you want

In [ ]:
# books_corr_to_bones = pd.DataFrame([ '0142002267'],# '044022165X', '006101351X', '0312278586', '0440222656', '0060987103', '0439064872', '0671021001', '0345370775'], 
#                                   index=np.arange(1), columns=['ISBN'])
# corr_books = pd.merge(books_corr_to_bones, books, on='ISBN')
# corr_books

In [7]:
def final_c(string, array):
    name = ''
    q = books.loc[books['bookTitle'] == string]
    q = q.reset_index()
    txt = q['Content'][0]
    max = 0
    for i in range(0,len(array)):
        b = books.loc[books['ISBN'] == array[i]]
        b = b.reset_index()
        try:
            num = compare(b['Content'][0],txt)
        except:
            num = -1
        if max<num and string!=b['bookTitle'][0]:
            max = num
            name = b['bookTitle'][0]
    return name

In [8]:
from nltk.tokenize import RegexpTokenizer
from stop_words import get_stop_words
from nltk.stem.porter import PorterStemmer
from gensim import corpora, models
import gensim
from nltk.corpus import wordnet

tokenizer = RegexpTokenizer(r'\w+')

# create English stop words list
en_stop = get_stop_words('en')

# Create p_stemmer of class PorterStemmer
p_stemmer = PorterStemmer()

C:\Users\migam\Anaconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [9]:
def extract_main_topics(doc_a):
    doc_set = [doc_a]
    texts = []
    for i in doc_set:
        raw = i.lower()
        tokens = tokenizer.tokenize(raw)
        stopped_tokens = [i for i in tokens if not i in en_stop]
        stemmed_tokens = [p_stemmer.stem(i) for i in stopped_tokens]
        texts.append(stopped_tokens)
    dictionary = corpora.Dictionary(texts)
    corpus = [dictionary.doc2bow(text) for text in texts]
    ldamodel = gensim.models.ldamodel.LdaModel(corpus, num_topics=1, id2word = dictionary, passes=3)
    top_topics = ldamodel.top_topics(corpus)
    return top_topics

In [10]:
def compare(sstring1, sstring2):
    #сумма всех similarities
    avg=0
    #count of similarities
    cnt1=0
    #топики первого текста и второго
    top_topics1 = extract_main_topics(sstring1)
    top_topics2 = extract_main_topics(sstring2)
    for i in range(0,20):
        sim=0
        max_avg=0
        for j in range (0,20):
            try:
                first = top_topics1[0][0][i][1]+'.n.01'
                second = top_topics2[0][0][j][1]+'.n.01'

                cb = wordnet.synset(first)
                ib = wordnet.synset(second)
                sim =cb.wup_similarity(ib)
                
                if(sim>max_avg):
                    max_avg=sim


            except:
                pass
            try:
                first = top_topics1[0][0][i][1]+'.a.01'
                second = top_topics2[0][0][j][1]+'.a.01'

                cb = wordnet.synset(first)
                ib = wordnet.synset(second)
                sim =cb.wup_similarity(ib)
               

                if(sim>max_avg):
                    max_avg=sim

            except:
                pass
            try:
                first = top_topics1[0][0][i][1]+'.v.01'
                second = top_topics2[0][0][j][1]+'.v.01'

                cb = wordnet.synset(first)
                ib = wordnet.synset(second)
                sim =cb.wup_similarity(ib)
               

                if(sim>max_avg):
                    max_avg=sim

            except:
                pass
        if(max_avg!=0):
            cnt1+=1
            avg+=max_avg
    if(cnt1!=0):
        print(avg/cnt1)
        return avg/cnt1
    else:
        print('no sim')
        return 'no sim'

In [ ]:
sstring1 = "They reach their monumental size on a diet of wild pigs, deer, birds, turtles, capybara, caimans, and even jaguars. Anacondas are nonvenomous constrictors, coiling their muscular bodies around captured prey and squeezing until the animal asphyxiates. Jaws attached by stretchy ligaments allow them to swallow their prey whole, no matter the size, and they can go weeks or months without food after a big meal."

sstring2 = "They achieve their momentous size on an eating routine of wild pigs, deer, winged creatures, turtles, capybara, caimans, and even pumas. Boa constrictors are nonvenomous constrictors, winding their solid bodies around caught prey and crushing until the point when the creature suffocates. Jaws joined by stretchy tendons enable them to gulp down their prey, regardless of the size, and they can go weeks or months without sustenance after a major feast."