In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


books = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']
users = pd.read_csv('BX-Users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']
ratings = pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
books.shape

(271360, 8)

In [4]:
users.shape

(278858, 3)

In [5]:
ratings.shape

(1149780, 3)

In [164]:
training_set = books[['ISBN', 'bookTitle', 'bookAuthor','yearOfPublication']]

In [165]:
training_set1 = users[['Location','Age']]

In [166]:
training_set1.shape

(278858, 2)

In [167]:
training_set.shape

(271360, 4)

In [173]:
import sys
sorted_ratings = ratings[ratings.bookRating>4]

In [174]:
sorted_ratings.shape

(414242, 3)

In [176]:
sorted_ratings = sorted_ratings.reset_index(drop=True)

In [116]:
sorted_ratings.head()

   userID        ISBN  bookRating
0  276726  0155061224           5
1  276729  052165615X           3
2  276729  0521795028           6
3  276736  3257224281           8
4  276737  0600570967           6

In [107]:
training_set.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication
0,0195153448,Classical Mythology,Mark P. O. Morford,2002
1,0002005018,Clara Callan,Richard Bruce Wright,2001
2,0060973129,Decision in Normandy,Carlo D'Este,1991
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999

In [177]:
amp = []
t = training_set['ISBN'].tolist()
s = sorted_ratings['ISBN'].tolist()
q = set(t)-set(s)

In [206]:
len(t)

271360

In [228]:
merged = training_set.merge(ratings,left_on='ISBN', right_on='ISBN', how='outer')
merged = merged.merge(users,left_on='userID',right_on='userID',how='outer')
merged = merged[merged.bookRating > 4]

In [233]:
merged.shape

(414242, 8)

In [234]:
merged.to_csv('for_recomendation.csv',sep = '\t',encoding='utf-8')

In [229]:
merged.isnull().any()

ISBN                 False
bookTitle             True
bookAuthor            True
yearOfPublication     True
userID               False
bookRating           False
Location             False
Age                   True
dtype: bool

In [235]:
merged = merged.drop_duplicates(['ISBN'],keep = 'last')
merged = merged[merged.bookTitle.isnull()!=True]
merged = merged.reset_index(drop = True)
merged.to_csv('for_nurgalam.csv', sep='\t',encoding='utf-8')

In [214]:
average_rating = pd.DataFrame(merged.groupby('ISBN')['bookRating'].mean())
average_rating['ratingCount'] = pd.DataFrame(merged.groupby('ISBN')['bookRating'].count())

In [216]:
average_rating.sort_values('ratingCount',ascending=False).head()

            bookRating  ratingCount
ISBN
0316666343    8.299133          692
0385504209    8.576842          475
0312195516    8.363144          369
0679781587    8.468085          329
0060928336    8.000000          312

In [44]:
import requests
url = 'http://techtv.mit.edu/videos/1585-music-session-02/download.source'
# r = requests.get('http://techtv.mit.edu/videos/1585-music-session-02/download.source') 
r = requests.head(url, allow_redirects=True)
print(r.url)

https://techtv.mit.edu/videos/1585-music-session-02/download.source

In [54]:
import webbrowser
webbrowser.open('https://www.google.co.in/#q=Harry Potter')#galochka

True